{% extends 'SHCloudRegisterBundle:Register:base.html.twig' %}
{% block content %}Registro de participante de {{ciudad}}

<form action="{{ path('registro_participante') }}" method="post">
    {{ form_errors(form) }}

    <label for="fos_user_registration_form_email">Correo Electrónico</label>{{ form_widget(form.email) }} {{ form_errors(form.email) }}
    {{ form_row(form.nombre) }}
    {{ form_row(form.tipo) }}
    <label for="fos_user_registration_form_plainPassword_first" class="required">Contraseña:</label>
    <input type="password" id="fos_user_registration_form_plainPassword_first" name="fos_user_registration_form[plainPassword][first]" required="required" />
    <label for="fos_user_registration_form_plainPassword_second" class="required">Confirmar contraseña:</label>
    <input type="password" id="fos_user_registration_form_plainPassword_second" name="fos_user_registration_form[plainPassword][second]" required="required" />
    {{ form_row(form.pago.banco) }}
    {{ form_row(form.pago.tipoTransaccion) }}
    {{ form_row(form.pago.numeroTransaccion) }}
    {{ form_row(form._token) }}
    <input type="hidden" id="fos_user_registration_form_username" name="fos_user_registration_form[username]" value="andreinaromero"/>
    <input type="submit" value="Aceptar"/>
</form>

{% endblock %}